h1 {
    color: black;
}
body {
    background-color: #f9f9f9;
}
tr { 
	background-color: white; 
} 

th { 
	background-color: #d6d6d6;  
}
table {
	border-style: solid;
	border-width: 3px;
	border-color: #403f3f;
}

#prompt {
	width: 700px;
	background-color: #d6d6d6;
	padding: 5px;
	margin: 0 auto;
	text-align:center;
	border-style: solid;
	border-width: 3px;
	border-color: #403f3f;
}

h2 {
	text-align: center;
}
p {
    font-size: 120%;
}