<html>
<head>
	<title>Erik Zorn Code Challenge</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container" style="padding:30px">
	<h1>Welcome!</h1>
	<p>Enter a zipcode below to find recent bills voted on by that district's Congress Representative</p>
	<form method='POST' action='.'>	{% csrf_token %}
		{{ form.as_p }} <input type='submit' value='submit' />
	</form>

</div>

</body>
</html>
