h1 {
    color: black;
}
body {
    background-color: #dff0e7;
}
tr { 
	background-color: white; 
} 

th { 
	background-color: #fff1f0;  
}

#prompt {
	width: 600px;
	background-color: #fff1f0;
	padding:5px;
	margin: 0 auto;
	text-align:center;
}

h2 {
	text-align: center;
}
